
header nav{
    background-color: #518de7;
    margin: 0;
    padding: 0px;
    position: relative;
    width: 100%;
    top: 0;
    border-bottom: 4px solid black;
}
nav ul{
    margin: 0;
    padding: 0 50px;
    display: flex;
    font-size: 4rem; 
    list-style-type: none;
    border: 5px;
}
li a{
    text-decoration: none;
    color:  #dad9d3d0;
}
li a:hover{
    color: rgba(0, 0, 0, 0.521);
}
nav li{
    margin: auto;
}



h1{
    background-color:#518de7;
    font-size: 4rem;  
    text-align: center;
    padding:0px;
    margin-bottom: 30px;
    border-bottom: 4px solid black;
  
}

main div p{
    font-size: 4rem; 
    text-align: center; 
    margin-bottom: 30px;
    color: #000;

}

.p{
    text-shadow:#518de7 ;
}

.image{
    padding:10px;
    margin-top: 150px;
    background-color: #dad9d3bd;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 1px 2px 2px 4px #4b3f4188;

}

img{
    width:100px;
padding: 2px;
border-radius: 20px;
justify-content: space-between;
}


main div ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
}

footer{

    background-color: #518de7;


}



footer div{
top:500px;
    padding:25px;
    margin-top: 150px;
    background-color: #dad9d3bd;
    border-radius: 20px;
    width: 70%;
    margin: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 1px 2px 2px 4px #4b3f4188;

}



form{width: 20%;
    margin:15px auto 20px;

}
fieldset{
   border-width: 10px;
   padding: 20px;
   box-shadow: 0px 3px 2px 3px rgba(163, 161, 161, 0.74);
   

}
legend{
    font-weight: bold;
    color: rgba(82, 156, 190, 0.733);
    font-size: 1.3em;
 
}

main{
background-image: url("images/family.jpg");

}