
header{
    display: grid;

    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background: #393e46;
}
header image{

    padding: 10px 20px;
}
header nav li {
    display: inline;
padding: 10px 20px;
text-transform: uppercase;
color: #4b778d;
  font-weight: 600;
  position: relative;
    background-color: black;
}
 
header img{
    padding: 30px 20px;
}


 main>img{
    padding: 30px 30px;
  
   
    align-items: center;
  
 }

 main  div img{
     
    align-items: center;
    padding: 30px 30px;

 }
main section{
    display: grid;

    grid-template-columns: repeat(2,1fr);
    width: 50%;
    padding: 30px;
    gap=20px;
}
 section div  {
    /* display: grid;

    grid-template-columns: repeat(1,1fr); */

 }

button{

background-color: #ddd;
}

footer nav{
    background-color: #444444;
    height: 100px;
    width: 100%;
}